@import "tailwindcss";

:root {
  --background: black;
  --foreground: #ffffff;
  --green: oklch(92.249% 0.23442 125.904);
}

@custom-variant light (&:where(.light, .light *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: var(--background);
  color: var(--foreground);
}