@import "tailwindcss";

:root {
  --background: black;
  --foreground: #ffffff;
}

@custom-variant light (&:where(.light, .light *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: var(--background);
  color: var(--foreground);
}